<svg viewBox="0 0 900 500" preserveAspectRatio="xMidYMid meet" >
  <rect id="rect" *ngFor = "let rect of rects" [attr.x]="rect.x" [attr.y]="rect.y" [attr.width]="rect.width" [attr.height]="rect.height"/>
  <text id="text" *ngFor = "let text of texts" [attr.x]="text.x" [attr.y]="text.y" >{{text.className}}.{{text.methodName}}() - {{text.duration}} ms</text>
  <rect id="rect" *ngFor = "let border of borders" [attr.x]="border.x" [attr.y]="border.y" [attr.width]="border.width" [attr.height]="border.height"/>
</svg>
