h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.rect {
  stroke-width:1;
  fill-opacity:0.4;
  stroke-opacity:0.7;
  rx:2;
  ry:2;
}

.text {
  font-family: Verdana;
  font-size: 8px;
}

.outbox_div {
  border: 1px solid lightgreen;
  border-radius:10px;
  overflow-y:scroll;
  overflow-x:scroll;
}
